.bounce{
    animation: bounce 0.2s linear;
}
@keyframes bounce{
    0%{
        transform: translateY(-150px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}